* { font-family: 'Open Sans', sans-serif;
    background-color: tomato;
}

form {
      margin-left: 100px;
      margin-right: 100px;
      margin-top: 10px;
      text-align: center;
      /* border: 3px solid; */
      padding: 10px;
      
}

label { padding-right: 6px;
     font-size: 14px;
}
div.button {
      padding-top: 20px;
}
button { margin: 20px;
         font-size: 14px;
         border-radius:12px; 
         padding: 12px 28px;
         box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
         background-color: grey;
}

button:hover {
    background-color: white; 
     
}

p.directions{
      font-size: 20px;
}

p.issue{
      padding-top: 15px;
      font-weight: 700;
      font-size: 15px;
}