<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Your Prediction</title>
        <link rel='stylesheet' type='text/css' href='../static/css/main.css'>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap" rel="stylesheet">

    </head>
    <body>
        <title>Thank you</title> 
        <p>Thank you! You likely voted for ...</div> </p>
        <p id = 'response'></p>
        <footer>
            <div class="signature">
                <p>Made with <i class="much-heart"></i> by Alyssa Liguori </p>
            </div>
        </footer>
    </body>
</html>