<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8' name="viewport" content="width=device-width, initial-scale=1">
        <title>Vote Predictor</title>
        <link rel='stylesheet' type='text/css' href='../static/css/res.css'>
        <link  rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap'>
        <script src="https://kit.fontawesome.com/bfda815a04.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class = 'results'>
            <p class='details'>Based on your responses...</p>
            <p>You likely voted for </p>
            <p class = 'candidate'><b>{{prediction}}</b></p>
            <p class='details'>in the 2016 Presidential Election</p>
            <p class='thanks'>Thank you for time!</p>
        </div>
        <footer>
            <div class='signature'>
                <p class = 'footer'>____Made with <i class='much-heart'></i> by Alyssa Liguori
                    <a href='https://www.linkedin.com/in/alyssaliguori'><i class="fab fa-linkedin"></i></a>
                    <a href='https://github.com/ali0003433/predict-by-issue-prioritization'><i class="fab fa-github-square"></i></a>
                    <br><br><br>Photo credit: Element5 Digital on Unsplash</p>
            </div>
        </footer>
    </body>
</html>